* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #d1731581;
}
  Header {
    Display: flex;
    Justify-content: space-between;
    align-items: center;
    Padding: 20px 60px ;
    Background: #3b0f1a;
    Color: white;
  }
 .logo{
font-size: 22px;
font-weight: bold;}
  nav a {
    Color: white;
    Margin-left: 25px;
    Text-decoration: none;
    padding: 8px 18px;
    border-radius: 990px;
    font-size: 15px;
    transition:all 0.3s ease;
  }
  nav a:hover{
background-color: #f5a623;
color:white;
box-shadow: 0 6px 18px rgba(244,162,44,0.35);
  }
  .menu-btn{
    display: none;
  }
  #menu-toggle{
    display: none;
  }
/* About Section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 60px;
}

.about-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
}

.about-content {
  max-width: 500px;
}

.about-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  position: relative;
}

.about-content h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: orange;
  display: block;
  margin-top: 10px;
}

.about-content p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 20px;
}

.social a {
  margin-right: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.social a:hover{
  color: orange;
}
.about-features{
display: flex;
gap: 15px;
margin-bottom: 25px;
flex-wrap: wrap;
}
.about-features span{
background: white;
padding: 8px 16px;
border-radius: 20px;
font-size: 14px;
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
transition: 0,3s;
}
.about-features span:hover{
background: orange;
color: white;
}
.about-btn {
  display: inline-block;
  padding: 10px 28px;
  background: orange;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.about-btn:hover {
  background: transparent;
  color: orange;

  border: 1px solid orange;
}
.social i{
font-size: 18px;
margin-right: 15px;
transition: 0.3s;
}
.social i:hover{
color: #f5a623;
transform: scale(1.2);
}
.about-image img{
  transition: 0.4s;
}
.about-image img:hover{
  transform: scale(1.05);
}

@media (max-width: 768px){
header{
  flex-wrap: wrap;
}
.menu-btn{
display: block;
font-size: 28px;
cursor: pointer;
}
nav{
width: 100%;
display: none;
flex-direction: column;
background: #3b0f1a;
margin-top: 15px;
border-radius: 10px;
}
nav a{
margin: 10px 0;
text-align: center;
}
.about {
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
}

.about-image img {
  width: 260px;
  height: 260px;
}

.about-content {
  max-width: 100%;
}

.about-features {

  justify-content: center;
}

.about-btn {
  margin-top: 15px;
}

.menu-btn.close{
  display:none ;
}
#menu-toggle:checked ~ .menu-btn.open{
  display: none;
    }
    #menu-toggle:checked ~ .menu-btn.close{
  display: block;
    }
   #menu-toggle:checked ~ nav{
     display: flex;}








}