* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
  body {
  min-height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .login-wrapper {
  width: 900px;
  max-width: 95%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: #1c1c1c;
  }
  .login-left {
  width: 45%;
  background: #f5efe6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  }
  .coffee-art img {
  width: 180px;
  margin-bottom: 20px;
  max-width: 100%;
  filter: drop-shadow(0 10px 15px);
  }
  .login-left h2 {
  color: #222;
  margin-bottom: 10px;
  }
  .login-left p {
  color: #555;
  font-size: 14px;
  }
  .login-right {
  width: 55%;
  padding: 50px;
  color: #fff;
  }
  .login-right h2 {
  margin-bottom: 5px;
  }
  .login-right p {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 25px;
  }
  form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  }
  .options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
  }
  .options a {
  color: #f4b400;
  text-decoration: none;
  }
  button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #f4b400;
  font-weight: bold;
  cursor: pointer;
  }
  button:hover {
  background: #ffcc33;
  }
  .signup {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  }
  .signup a {
  color: #f4b400;
  }
  @media (max-width: 768px) {
  .login-wrapper {
  flex-direction: column;
  }
  .login-left,
  .login-right {
  width: 100%;
  }
  }