* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #1e1e1e;
  color: #ffffff;
}

.menu {
  padding: 80px 8%;
  text-align: center;
}

.menu-title {
  font-size: 32px;
  margin-bottom: 60px;
  position: relative;
}
.menu-title::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #f4a460;
  display: block;
  margin: 12px auto 0;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.menu-box {
  padding: 20px;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  background: #111;
}

.menu-box img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
  
}
.menu-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.menu-box p {
  font-size: 14px;
  color: #cccccc;
  line-height: 1.6;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-container {
    grid-template-columns: 1fr;
  }

  .menu-box img {
    height: 180px;
  }
}

